In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [23]:
#import necessary library
import mysql.connector as connection
import pandas as pd

In [40]:
try:
    mydb = connection.connect(host="localhost",database='Pipeline',
                              user="root",password="1234567",use_pure=True)
    query = "SELECT * from presiden_2024;"
    result_df = pd.read_sql(query,mydb)
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

In [50]:
result_df.to_pickle('Load.pkl')

In [30]:
result_df.head()

   Tahun Lahir            Nama      Partai    Jabatan  Asal
0         1961     Joko Widodo        PDIP   Presiden  Jawa
1         1978  Agus Yudhoyono    Demokrat        TNI  Jawa
2         1951     Surya Paloh      Nasdem  Politikus  Aceh
3         1969  Anies Baswedan  Independen   Gubernur  Jawa
4         1951         Prabowo    Gerindra    Menteri  Jawa

In [51]:
result_df.groupby(['Jabatan']).mean()

           Tahun Lahir
Jabatan
Gubernur        1970.0
Menteri         1951.0
Politikus       1951.0
Presiden        1961.0
TNI             1971.0

>Hierarchical Indexes

In [57]:
result_df.groupby(['Asal']).mean()

      Tahun Lahir
Asal
Aceh  1951.000000
Jawa  1965.666667

In [4]:
import pandas as pd

data = pd.read_csv(r'C:\Users\LENOVO\Downloads\presiden_2024.csv')
df = pd.DataFrame(data)

print (df)

   Tahun Lahir            Nama      Partai    Jabatan  Asal
0         1961     Joko Widodo        PDIP   Presiden  Jawa
1         1978  Agus Yudhoyono    Demokrat        TNI  Jawa
2         1951     Surya Paloh      Nasdem  Politikus  Aceh
3         1969  Anies Baswedan  Independen   Gubernur  Jawa
4         1951         Prabowo    Gerindra    Menteri  Jawa
5         1964  Andika Perkasa  Independen        TNI  Jawa
6         1971    Ridwan Kamil  Independen   Gubernur  Jawa

In [12]:
df.to_pickle(r'C:\Users\LENOVO\Downloads\presiden_2024.csv')  
df1 = pd.read_pickle(r'C:\Users\LENOVO\Downloads\presiden_2024.csv')

In [43]:
df2 = pd.read_pickle('Tugas4.pkl')
# print the dataframe
print(df2)

   Tahun Lahir            Nama      Partai    Jabatan  Asal
0         1961     Joko Widodo        PDIP   Presiden  Jawa
1         1978  Agus Yudhoyono    Demokrat        TNI  Jawa
2         1951     Surya Paloh      Nasdem  Politikus  Aceh
3         1969  Anies Baswedan  Independen   Gubernur  Jawa
4         1951         Prabowo    Gerindra    Menteri  Jawa
5         1964  Andika Perkasa  Independen        TNI  Jawa
6         1971    Ridwan Kamil  Independen   Gubernur  Jawa

In [26]:
df.to_pickle('Tugas.pkl')